@font-face {
  font-family: "Galdeano";
  src: url(../fonts/Galdeano-Regular.ttf);
}

@font-face {
  font-family: "Kaisei";
  src: url(../fonts/KaiseiOpti-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 99vw;
  background-color: #f7eef1;
}

/* Font */
header,
footer,
h2,
h3,
button {
  font-family: "Galdeano";
}

a,
p {
  font-family: "Kaisei";
  font-size: 16px;
}

/* Imagenes  */
img {
  height: 40vh;
  width: 100%;
  object-fit: contain;
}

/* Header */
header {
  height: 10vh;
  background-color: #738bb9;
  margin-bottom: 20px;
}

header>h1 {
  padding: 20px;
  text-align: center;
}

/* Nav */
nav {
  position: fixed;
  top: 10vh;
  right: 0;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #738bb9;
  display: flex;
  flex-direction: column;
}

li {
  float: left;
  border: 1px solid white;
}

li>a {
  font-weight: bold;
  width: 100%;
}

li a,
li>a:first-of-type {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
ul>li:hover li>a:first-of-type {
  width: 100%;
  background-color: #38444d;
}

li.ul>li {
  display: inline-block;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 55px;
  right: 100px;
}

li:nth-child(3)>div {
  top: 109px;
}

li:nth-child(4)>div {
  top: 163px;
}

.submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 2px solid #8f9db8;
}

.submenu a:hover {
  background-color: #8f9db8;
  color: white;
}

ul>li:hover .submenu {
  display: block;
}

/* Main */
main {
  min-height: 100vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

main div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

main>div:nth-of-type(odd) {
  background-color: #c5dff8;
}

main>div:nth-of-type(even) {
  background-color: #94b5fd;
}

main>div>h2 {
  position: sticky;
  top: 50px;
  width: 100%;
  justify-content: left;
}

main>div>div>h3 {
  width: 100%;
  position: sticky;
  top: 100px;
  justify-content: left;
}

main>div>h2,
main>div>div>h3 {
  margin: 10px 10px;
}

/* Section */
section {
  min-height: 55vh;
  height: fit-content;
  width: 33vw;

  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 10px;

  background-color: #ffffff;
  border: 0.5px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
}

section>div>img:first-of-type {
  justify-content: center;
  border: none;
}

section>div>img {
  border: 1px solid rgba(0, 0, 0, 0.116);
}

section>h3 {
  height: 50px;
  padding: 13px;
  background-color: #738bb9;
  color: #f7eef1;
}

section>p:first-of-type {
  height: 5vh;
}

section>p:nth-of-type(2) {
  font-weight: bold;
}

h2>span {
  background-color: #f7f7f7cb;
  display: inline-block;
  width: 110px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.089);
  border-right: 2px solid rgba(0, 0, 0, 0.089);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}

/* Grid */
section>div {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

section>div>img:first-of-type {
  grid-row: 1/6;
  width: 20vw;
}

section>div>img:nth-of-type(2) {
  grid-column: 2;
  height: 10vh;
  width: 5vw;
}

section>div>img:nth-of-type(3) {
  grid-column: 2;
  height: 10vh;
  width: 5vw;
}

section>div>img:nth-of-type(4) {
  grid-column: 2;
  height: 10vh;
  width: 5vw;
}

section>div>img:last-of-type {
  grid-column: 2;
  height: 10vh;
  width: 5vw;
}

/* Button */
button {
  margin: 0 auto;
  width: 100px;
  height: 35px;
  border: 1px solid black;
  background-color: #738bb9;
  box-shadow: 2px 2px 2px black;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

button:active {
  border: 1px solid rgb(255, 255, 255);
  background-color: #94b5fd;
  color: white;
}

/* Ventana Emergente */
#ventanaEmergente {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.418);
  box-shadow: 2px 2px 20px black;
}

#ventanaEmergente>button {
  height: 30px;
  width: 30px;

  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
}

#ventanaEmergente>img {
  display: none;
}

/* Footer */
footer {
  height: 8vh;
  text-align: center;
  background-color: #738bb9;
}

footer>h3 {
  padding: 20px;
}

/* Responsive */
/* Mobile */
@media screen and (max-width: 540px) {
  div>div>div {
    flex-direction: column;
  }

  div>section {
    width: 95%;
  }

  section>div>img:first-of-type {
    width: 50vw;
  }

  header {
    margin-bottom: 2px;
  }

  /* Nav */
  nav {
    width: 448px;
    top: 0px;
    position: sticky;
  }

  ul {
    flex-direction: row;
  }

  .submenu {
    top: 45px;
    right: 50vw;
    width: 150px;
  }

  li:nth-child(3)>div {
    top: 45px;
    right: 25vw;
  }

  li:nth-child(4)>div {
    top: 45px;
    right: 15vw;
  }
}

/* Tablet */
@media screen and (max-width: 900px) {
  div>div>div {
    flex-direction: column;
  }

  div>section {
    width: 95%;
  }

  section>div>img:first-of-type {
    width: 50vw;
  }

  header {
    margin-bottom: 2px;
  }
}